[p4]
host = 127.0.0.1
port = 1666
user = quh
password = [igt20121203]24
[core]
[component.rgs]
p4.client.name =
p4.client.create =
build.script =
build.cmd =
run.script =
[component.gsr]
p4.client.name =
p4.client.create =
build.script =
build.cmd =
run.script =
[component.nss]
p4.client.name =
p4.client.create =
build.script =
build.cmd =
run.script =
[component.cfgs]
p4.client.name =
p4.client.create =
build.script =
build.cmd =
run.script =
[component.uid]
p4.client.name =
p4.client.create =
build.script =
build.cmd =
run.script =
